@charset "UTF-8";



.tabela{

    display: flex;
    align-content: center;
    border-radius: 10px;
    box-shadow: 1px 1px 4px black;
    border: 7px solid rgba(0, 0, 0, 0,3);
    border-radius: 10px;
      
}


div#mensagemcaixa {
    
        display: flex;
        justify-content: center;
        padding: 50px;
        
       
    }    
