@charset "UTF-8";

/* edição dos produtos nas páginas produto e inicial*/
.produtos {

   width: 80%;
   height: 1000px;
   display: inline-block;
   margin: -250px auto 0px 200px!important;
   padding: 10px 0px 10px 10px;

}

hr{
   width: 180px;
   margin-bottom: 0;
}

.geral {

   position: relative;
   display: inline-block;
   text-align: center;

}
.geral img{

   width: 160px;
   height: 170px;
   border: 6px solid rgba(255, 255, 255, 0.5);
   box-shadow: 1px 1px 4px black;
   margin: 45px;
   margin-bottom: 8px;
   
   
   
}

.geral h3{

   font-family: Arial, Helvetica, sans-serif;
   color: #606060;
   font-size: 15px;
   justify-content: center;
   text-align: center;
   font-weight: bold;

}
.geral p{

   color: crimson;
   text-decoration: line-through;
   justify-content: center;
   text-align: center;
   margin-bottom: 0px;
   margin-top: 0px;   

}
.geral h5{

   font-size: 15px;
   margin-top: 0px;
   margin-bottom: 0px;
   color: #888888;
   text-align: center;
   font-weight: normal;
  
}


/*menu categoria*/

.categoria{

   width: 173px;
   margin: 100px auto 0px 20px;
   

}
.categoria ul {
   width: 250px;
}

.categoria ul li {

    
    color: #8b8b8b;
    margin-left: 18px;
    margin-bottom: 8px;
    cursor: pointer;
    list-style: none;

}/*
.categoria ul li:hover{

    border-bottom: 2px solid #00bac6;

}*/
.categoria ul li a:hover {

    color: #DC3545 !important;
    

}
.categoria ul li a{


    color: #8b8b8b;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 5px;
    

}

.categoria h2{


    color: #8b8b8b;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    

}













